* {
  box-sizing: border-box;
}
body{
  background-color: #FFD9C0;
  text-align: center;
  padding: 50px;
}
.content{
  text-align: center;
  /* padding: 1px; */
  margin: 2px;
}
#title{
  font-family: 'Montserrat', sans-serif;
  color: #7D1E6A;
  font-size: 90px;
  font-weight: bolder;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 32px;
  padding-bottom: 30px;
}
#play{
  /* margin: 20px; */
  margin-top: 70px;
  display: inline-block;
  height: 72px;
  width: 150px;
  border: 1px solid white;
  border-radius: 7%;
  background-color: #7D1E6A;
  font-size: 35px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
#titleStart{
  font-family: 'Roboto Slab', serif;
  color: #FF6FB5;
  font-size: 40px;
  /* padding-top: 1px; */
  /* padding-bottom: 20px; */
}
#score{
  font-family: 'Roboto Slab', serif;
  color: #FF6FB5;
  font-size: 40px;
  /* padding: 10px; */
}
.buttons {
  display: block;
  width: 50%;
  margin: auto;
  cursor: pointer;
}

.btn {
  margin: 12px;
  display: inline-block;
  height: 110px;
  width: 110px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: #7D1E6A;
  cursor: pointer;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* font-size: 30px; */
  /* text-align: center; */
}

.flex-item-left {
  flex: 50%;
  text-align: center;
  padding:60px;
}

.flex-item-right {
  flex: 50%;
  text-align: center;
  padding:80px;
}
.flex-container-eachrow{
  display: flex;
  flex-wrap: nowrap;
}
.flex-container-vertical{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
  body{
    background-color: #FFD9C0;
    text-align: center;
    padding: 0;
  }
  #title{
    font-family: 'Montserrat', sans-serif;
    color: #7D1E6A;
    font-size: 130px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-bottom: 3px;
  }
  #play{
    /* margin: 20px; */
    margin-top: 7px;
    display: inline-block;
    height: 72px;
    width: 170px;
    border: 1px solid white;
    border-radius: 7%;
    background-color: #7D1E6A;
    font-size: 45px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  }
  #titleStart{
    font-family: 'Roboto Slab', serif;
    color: #FF6FB5;
    font-size: 40px;
    /* padding-top: 1px; */
    /* padding-bottom: 20px; */
  }
  #score{
    font-family: 'Roboto Slab', serif;
    color: #FF6FB5;
    font-size: 40px;
    /* padding: 10px; */
  }
  .flex-item-left {
    flex: 50%;
    text-align: center;
    padding:6px;
    /* padding-bottom: 6px; */
  }
  .flex-item-right {
    flex: 50%;
    text-align: center;
    padding:10px;
    padding-left: 0;
  }
  .flex-container-eachrow{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 50px;
  }
  .btn {
    margin: 12px;
    display: inline-block;
    height: 190px;
    width: 190px;
    border: 10px solid black;
    border-radius: 20%;
    background-color: #7D1E6A;
  }
}
